*/bin/
*/obj/
.idea/
RtfParseTests/TestFixtures
RtfParseTests/ExampleLettersHtml
RtfParseTests/ExampleLettersRtf
ExampleLettersRtf
RtfParseTests/JSONTestResults
BlankBenefitsRtf
BlankBenefitsHtml
RtfParseTests/BlankBenefitsHtml/
RtfParseTests/BlankBenefitsRtf/
