**/bin/
**/obj/
.idea/
RtfParseTests/TestFixtures
RtfParseTests/ExampleLettersHtml
RtfParseTests/ExampleLettersRtf
ExampleLettersRtf
RtfParseTests/JSONTestResults
RtfParseTests/BlankBenefitsHtml/
RtfParseTests/BlankBenefitsRtf/
**/.env

